.cuerpo {
  background-color: rgb(0, 0, 114);
}
.cabecera {
  display: flex;
  justify-content: space-between;
}
.cabecera--redes {
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
}
.ul{
  display: flex;
  justify-content: center;
}
