.cuerpo {
  background: url("https://i.pinimg.com/originals/e3/3f/92/e33f92c87697b75934864ad2d87e4d79.jpg");
}
.cabecera {
  display: flex;
  justify-content: space-between;
}
.cabecera--redes {
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
}
.ul {
  display: flex;
  justify-content: center;
}
